services:
  backend:
    image: 658173955655.dkr.ecr.ap-northeast-2.amazonaws.com/vani/springboot:${IMAGE_TAG}
    container_name: spring-backend
    ports:
      - "8080:8080"
    env_file:
      - .env


