spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: ${REDIS_HOST}
      port: 6379

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: false

server:
  # 톰캣이 X-Forwarded-* 헤더를 인식하게 설정
  forward-headers-strategy: framework

logging:
  level:
    root: INFO
    com.vani: DEBUG                          # 내 코드만 DEBUG
    org.springframework.web: DEBUG           # 요청/응답
    org.apache.coyote.http11: INFO          # Tomcat 에러 숨김
    javax.management: OFF                    # JMX 로그 끄기
    sun.rmi: OFF


# === JWT: 시크릿과 토큰 만료 시간 설정
jwt:
  secret: ${JWT_SECRET}
  access-expiration-ms: 1800000
  refresh-expiration-ms: 1209600000

# === AWS S3 (IAM Role 사용)
cloud:
  aws:
    region:
      static: ap-northeast-2
    s3:
      bucket: vani-main-bucket
    stack:
      auto: false