name: SpringBoot CD with Docker

env:
  S3_KEY: springboot/deployment.zip
on:
  push:
    branches: [ "features/cicd" ]

jobs:
  Integration-Test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: temurin
          cache: 'gradle'

      - name: Test
        run: ./gradlew test

      - name: Build JAR
        run: ./gradlew bootJar --no-daemon

      - name: Extract Jar Layers
        run: |
          java -Djarmode=tools -jar build/libs/*.jar extract --destination build/extracted --layers --launcher

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.IAM_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/arm64
          tags: ${{ steps.login-ecr.outputs.registry }}/vani/springboot:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Make Zip File for CodeDeploy
        run: zip -r deployment.zip appspec.yml scripts

      - name: Upload to S3
        run: aws s3 cp deployment.zip s3://${{ vars.S3_BUCKET }}/deployment.zip

      # CodeDeploy 배포
      - name: Trigger CodeDeploy
        run: |
          aws deploy create-deployment \
            --application-name ${{ vars.CODEDEPLOY_SPRINGBOOT_APP }} \
            --deployment-group-name ${{ vars.CODEDEPLOY_SPRINGBOOT_GROUP }} \
            --s3-location bucket=${{ vars.S3_BUCKET }},key=${{ env.S3_KEY }},bundleType=zip \
            --description "Commit SHA: ${{ github.sha }}"