name: CI (PR Check - Unit Test)

on:
  pull_request:
    branches: [ "main" ]

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: temurin
          cache: 'gradle'

      - name: Run Unit Tests
        run: ./gradlew test -PincludeTags=unit